<% content_for :title, t("mfa.phone.update.start.new.heading") %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<% t("mfa.phone.update.start.new.description").each do |msg| %>
  <p class="govuk-body"><%= sanitize(msg) %></p>
<% end %>

<%= form_with(url: edit_user_registration_phone_confirm_path, method: :post, data: { module: "gem-track-click" }) do %>
  <% if @resource_error_messages.any? %>
    <%= render "_shared/error_messages", resource: nil, resource_error_messages: @resource_error_messages %>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
    label: { text: t("mfa.phone.update.start.new.fields.phone.label") },
    name: "phone",
    type: "tel",
    error_message: devise_error_items(:phone, @resource_error_messages),
  } %>

  <p class="govuk-body">
    <%= t("mfa.phone.update.start.new.message") %>
  </p>

  <%= render "govuk_publishing_components/components/show_password", {
    label: {
      text: t("devise.registrations.edit.fields.current_password.label"),
    },
    heading_size: "m",
    hint: t("devise.registrations.edit.fields.current_password.hint"),
    name: "current_password",
    error_message: devise_error_items(:current_password, @resource_error_messages),
    autocomplete: "current-password",
    data: {
      button_track_action: "passwordShowHide",
      button_track_category: "pageElementInteraction",
      button_track_label: "changePhoneNumber"
    }
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("mfa.phone.update.start.new.fields.submit.label"),
  } %>
<% end %>
