<% content_for :title, t("mfa.phone.update.start.heading") %>
<% content_for :location, "manage" %>
<% content_for :account_navigation do %>
  <%= render "account-navigation", page_is: yield(:location) %>
<% end %>

<% content_for :before_main do %>
  <%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<p class="govuk-body">
  <%= sanitize(t("mfa.phone.update.start.current", phone_number: MultiFactorAuth.formatted_phone_number(current_user.phone))) %>
</p>

<%= form_with(url: edit_user_registration_phone_confirm_path, method: :post, data: { module: "gem-track-click" }) do %>
  <% if @resource_error_messages.any? %>
    <%= render "_shared/error_messages", resource: nil, resource_error_messages: @resource_error_messages %>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
    label: { text: t("mfa.phone.update.start.fields.phone.label") },
    name: "phone",
    type: "tel",
    error_message: devise_error_items(:phone, @resource_error_messages),
  } %>

  <p class="govuk-body">
    <%= t("mfa.phone.update.start.message") %>
  </p>

  <%= render "govuk_publishing_components/components/show_password", {
    label: {
      text: t("devise.registrations.edit.fields.current_password.label"),
    },
    heading_size: "m",
    hint: t("devise.registrations.edit.fields.current_password.hint"),
    name: "current_password",
    error_message: devise_error_items(:current_password, @resource_error_messages),
    autocomplete: "current-password",
    data: {
      button_track_action: "passwordShowHide",
      button_track_category: "pageElementInteraction",
      button_track_label: "changePhoneNumber"
    }
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("mfa.phone.update.start.fields.submit.label"),
    inline_layout: true,
  } %>
  <span class="govuk-body"><%= t("general.or") %></span>
  <%= link_to t("general.cancel"),
    account_manage_path,
    class: "govuk-body govuk-link"
  %>
<% end %>
