<% content_for :location, "manage" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "account-navigation", page_is: yield(:location) %>
  </div>

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
    <%= render "govuk_publishing_components/components/heading", {
      text: t("mfa.phone.update.start.heading"),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 6,
    } %>

    <p class="govuk-body">
      <%= t("mfa.phone.update.start.message") %>
    </p>

    <%= render "govuk_publishing_components/components/inset_text", {
      text: t("mfa.phone.update.start.current", phone_number: MultiFactorAuth.formatted_phone_number(current_user.phone))
    } %>

    <%= form_with(url: edit_user_registration_phone_code_path, method: :post) do %>
      <%= render "govuk_publishing_components/components/input", {
        label: { text: t("mfa.phone.update.start.fields.phone.label") },
        name: "phone",
        error_message: @phone_error_message,
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.registrations.edit.fields.current_password.label"),
        },
        heading_size: "m",
        hint: t("devise.registrations.edit.fields.current_password.hint"),
        name: "current_password",
        type: "password",
        error_message: @password_error_message,
        autocomplete: "current-password",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("mfa.phone.update.start.fields.submit.label"),
        inline_layout: true,
      } %>
      <span class="govuk-body"><%= t("general.or") %></span>
      <%= link_to t("general.cancel"),
        account_manage_path,
        class: "govuk-body govuk-link"
      %>
    <% end %>
  </div>
</div>
