<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("devise.confirmations.resend.heading"),
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 3,
    } %>

    <p class="govuk-body"><%= t("devise.confirmations.resend.instructions") %></p>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.confirmations.resend.label"),
        },
        name: "user[email]",
        type: "email",
        id: "email",
        value: @email,
        autocomplete: "email",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.confirmations.resend.button"),
        margin_bottom: 3,
      } %>
    <% end %>
  </div>
</div>
