<% service = service_for(params[:previous_url], current_user) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("post_registration.heading"),
      heading_level: 1,
      margin_bottom: 4,
      font_size: "xl",
    } %>

    <p class="govuk-body">
      <%= t("post_registration.instruction_one") %> <strong><%= params[:email] %></strong>
    </p>

    <p class="govuk-body">
      <%= t("post_registration.instruction_two") %>
    </p>

    <p class="govuk-body">
      <%= sanitize(t("post_registration.instruction_list")) %>
    </p>

    <p class="govuk-body">
      <%= t("post_registration.delay_consequence") %>
    </p>

    <% if service %>
      <%= sanitize(t("post_registration.continue_to_service", service_name: service[:name], service_link: service[:url])) %>
    <% else %>
      <%= sanitize(t("post_registration.continue_to_account", account_link: user_root_path)) %>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("post_registration.re_register_subtitle"),
      heading_level: 2,
      margin_bottom: 3,
      font_size: 19,
    } %>

    <%= sanitize(t("post_registration.re_register_instructions", resend_confirmation_link: new_user_confirmation_path, register_link: new_user_session_path)) %>
  </div>
</div>
