<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t(".heading"),
      heading_level: 1,
      margin_bottom: 6,
    } %>

    <p class="govuk-body">
      <%= raw t('.prompt', client_name: content_tag(:strong, class: 'text-info') { @pre_auth.client.name }) %>
    </p>

    <% if user_authorizable_scopes(@pre_auth).count > 0 %>
      <div id="oauth-permissions">
        <p class="govuk-body"><%= t('.able_to') %>:</p>

        <ul class="text-info">
          <% user_authorizable_scopes(@pre_auth).each do |scope| %>
            <li><p class="govuk-body"><%= t scope, scope: [:doorkeeper, :scopes] %></p></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="actions">
    <%= form_tag oauth_authorization_path, method: :post, :"data-module" => "explicit-cross-domain-links" do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= hidden_field_tag :nonce, @pre_auth.nonce %>
      <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
      <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("doorkeeper.authorizations.buttons.authorize")
      } %>
    <% end %>
    <%= form_tag oauth_authorization_path, method: :delete, :"data-module" => "explicit-cross-domain-links" do %>
      <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
      <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
      <%= hidden_field_tag :state, @pre_auth.state %>
      <%= hidden_field_tag :response_type, @pre_auth.response_type %>
      <%= hidden_field_tag :scope, @pre_auth.scope %>
      <%= hidden_field_tag :nonce, @pre_auth.nonce %>
      <%= hidden_field_tag :code_challenge, @pre_auth.code_challenge %>
      <%= hidden_field_tag :code_challenge_method, @pre_auth.code_challenge_method %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("doorkeeper.authorizations.buttons.deny")
      } %>
    <% end %>
  </div>
</div>
