<% content_for :title, t("devise.registrations.edit.heading_password") %>
<% content_for :location, "manage" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "account-navigation", page_is: yield(:location) %>
  </div>

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
    <%= render "govuk_publishing_components/components/heading", {
      text: yield(:title),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 6,
    } %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.registrations.edit.fields.password.label"),
        },
        hint: t("devise.registrations.edit.fields.password.hint"),
        name: "user[password]",
        type: "password",
        id: "password",
        error_message: devise_error_items(:password),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.registrations.edit.fields.password_confirm.label"),
        },
        name: "user[password_confirmation]",
        type: "password",
        id: "password_confirmation",
        error_message: devise_error_items(:password_confirmation),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.registrations.edit.fields.current_password.label"),
        },
        heading_size: "m",
        hint: t("devise.registrations.edit.fields.current_password.hint"),
        name: "user[current_password]",
        type: "password",
        id: "current__confirmation",
        error_message: devise_error_items(:current_password),
        autocomplete: "current-password",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.registrations.edit.fields.submit.label"),
        margin_bottom: 3,
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-manage",
          "track-action": "password",
          "track-label": ""
        }
      } %>
    <% end %>
  </div>
</div>
