<% content_for :title, t("devise.registrations.edit.heading_password") %>
<% content_for :location, "manage" %>
<% content_for :account_navigation do %>
  <%= render "account-navigation", page_is: yield(:location) %>
<% end %>

<%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 6,
} %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do %>
  <%= email_field_tag 'email', resource.email, class: "govuk-!-display-none", autocomplete: "off", "aria-hidden": true %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render "govuk_publishing_components/components/show_password", {
    label: {
      text: t("devise.registrations.edit.fields.password.label"),
    },
    hint: t("devise.registrations.edit.fields.password.hint"),
    name: "user[password]",
    id: "password",
    error_message: devise_error_items(:password),
    autocomplete: "new-password",
  } %>

  <%= render "devise/shared/password_tip" %>

  <%= render "govuk_publishing_components/components/show_password", {
    label: {
      text: t("devise.registrations.edit.fields.current_password.label"),
    },
    heading_size: "m",
    hint: t("devise.registrations.edit.fields.current_password.hint_current"),
    name: "user[current_password]",
    id: "current__confirmation",
    error_message: devise_error_items(:current_password),
    autocomplete: "current-password",
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("devise.registrations.edit.fields.submit.label"),
    margin_bottom: 3,
    inline_layout: true,
    data_attributes: {
      module: "gem-track-click",
      "track-category": "account-manage",
      "track-action": "password",
      "track-label": ""
    }
  } %>
  <span class="govuk-body"><%= t("general.or") %></span>
  <%= link_to t("general.cancel"),
    account_manage_path,
    class: "govuk-body govuk-link",
    data: {
      module: "gem-track-click",
      "track-category": "account-manage",
      "track-action": "password",
      "track-label": "cancel"
    }
  %>
<% end %>
