<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("mfa.phone.code.heading"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <% t("mfa.phone.code.description").each do |msg| %>
      <p class="govuk-body"><%= msg %></p>
    <% end %>

    <%= form_with(url: new_user_registration_phone_verify_path(registration_state_id: @registration_state_id), method: :post) do %>
      <%= render "govuk_publishing_components/components/input", {
        label: { text: t("mfa.phone.code.fields.phone_code.label") },
        name: "phone_code",
        maxlength: 6,
        type: "number",
        error_message: @phone_code_error_message
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("mfa.phone.code.fields.submit.label"),
        margin_bottom: true
      } %>
    <% end %>

    <p class="govuk-body">
      <a class="govuk-link" href="<%= new_user_registration_phone_resend_path(registration_state_id: @registration_state_id) %>">
        <%= t("mfa.phone.code.not_received") %>
      </a>
    </p>
  </div>
</div>
