<% content_for :title, t("devise.registrations.start.fields.password.label") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: new_user_registration_start_path(registration_state_id: @registration_state_id), method: :post) do %>
      <% if resource || @resource_error_messages %>
        <%= render "devise/shared/error_messages", resource: resource, resource_error_messages: @resource_error_messages %>
      <% end %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: yield(:title),
        },
        heading_level: 1,
        heading_size: "xl",
        hint: t("devise.registrations.start.fields.password.hint"),
        name: "user[password]",
        type: "password",
        id: "password",
        error_message: devise_error_items(:password, @resource_error_messages),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.registrations.start.fields.password_confirm.label"),
        },
        name: "user[password_confirmation]",
        type: "password",
        id: "password_confirmation",
        error_message: devise_error_items(:password_confirmation, @resource_error_messages),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.registrations.start.fields.submit.label"),
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-create",
          "track-action": "create",
          "track-label": "password"
        }
      } %>
    <% end %>
  </div>
</div>
