<% content_for :title, t("devise.registrations.your_information.heading") %>
<% @skip_cookie_banner = true %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  font_size: "xl",
  margin_bottom: 3,
} %>

<% if defined?(@error_items) %>
  <%= render "govuk_publishing_components/components/error_summary", {
    id: "error-summary",
    title: t("feedback.show.errors.summary"),
    items: @error_items
  } %>
<% end %>

<%= sanitize(t("devise.registrations.your_information.description")) %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("devise.registrations.your_information.data_choice_heading"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 3,
} %>

<%= sanitize(t("devise.registrations.your_information.data_choice_description")) %>

<%= form_with(
  url: new_user_registration_your_information_path,
  method: :post,
  data: {
    module: "track-form",
    "track-category": "account-create"
  }
) do %>

  <%= render "govuk_publishing_components/components/radio", {
    name: "cookie_consent",
    id: "cookie_consent",
    heading: t("devise.registrations.your_information.fields.cookie_consent.heading"),
    heading_size: "s",
    error_message: error_items("cookie_consent", @error_items),
    hint: t("devise.registrations.your_information.fields.cookie_consent.hint"),
    items: [
      {
        value: "yes",
        text: t("devise.registrations.your_information.fields.cookie_consent.yes"),
        checked: @consents.fetch(:cookie_consent_decision, nil) == "yes",
        data_attributes: {
          "track-action": "personal-information-cookies"
        }
      },
      {
        value: "no",
        text: t("devise.registrations.your_information.fields.cookie_consent.no"),
        checked: @consents.fetch(:cookie_consent_decision, nil) == "no",
        data_attributes: {
          "track-action": "personal-information-cookies"
        }
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/heading", {
    text:  t("devise.registrations.your_information.fields.feedback_consent.section_heading"),
    heading_level: 2,
    font_size: "m",
    margin_bottom: 3,
  } %>

  <p class="govuk-body">
    <%=  t("devise.registrations.your_information.fields.feedback_consent.message") %>
  </p>

  <%= render "govuk_publishing_components/components/radio", {
    name: "feedback_consent",
    id: "feedback_consent",
    heading: t("devise.registrations.your_information.fields.feedback_consent.heading"),
    heading_size: "s",
    error_message: error_items("feedback_consent", @error_items),
    hint: t("devise.registrations.your_information.fields.feedback_consent.hint"),
    items: [
      {
        value: "yes",
        text: t("devise.registrations.your_information.fields.feedback_consent.yes"),
        checked: @consents.fetch(:feedback_consent_decision, nil) == "yes",
        data_attributes: {
          "track-action": "personal-information-feedback"
        }
      },
      {
        value: "no",
        text: t("devise.registrations.your_information.fields.feedback_consent.no"),
        checked: @consents.fetch(:feedback_consent_decision, nil) == "no",
        data_attributes: {
          "track-action": "personal-information-feedback"
        }
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("devise.registrations.your_information.fields.submit.label"),
  } %>
<% end %>
