<% content_for :title, t("confirmation_sent.heading.confirm_change") %>

<%= render "govuk_publishing_components/components/heading", {
  text: yield(:title),
  heading_level: 1,
  margin_bottom: 4,
  font_size: "xl",
} %>

<%= sanitize(t("confirmation_sent.instructions.confirm_change.details.dashboard", email: email)) %>

<% unless user_is_confirmed %>
  <%= render "govuk_publishing_components/components/inset_text", {
    text: t("confirmation_sent.delay_consequence")
  } %>
<% end %>

<p class="govuk-body" data-module="gem-track-click">
  <a class="govuk-link" href="<%= user_root_path %>" data-track-category="account-create" data-track-action="confirm-email" data-track-label="Account">
    <%= t("confirmation_sent.continue_to.account") %>
  </a>
</p>

<%= render "govuk_publishing_components/components/heading", {
  text: t("confirmation_sent.help.heading"),
  heading_level: 2,
  margin_bottom: 3,
  font_size: 19,
} %>

<%= sanitize(t("confirmation_sent.help.instructions.confirm_change", resend_confirmation_link: new_user_confirmation_path, retry_link: edit_user_registration_email_path, email: email)) %>
