<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: user_root_path } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.data_exchange.heading"),
      heading_level: 1,
      margin_bottom: 6,
    } %>

    <% if @data_exchanges.empty? %>
      <p class="govuk-body">
        <%= t("account.data_exchange.no_data_exchanged") %>
      <p>
    <% else %>
      <dl class="govuk-summary-list">
        <% @data_exchanges.each do |exchange| %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= exchange[:application_name] %>
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="date-text">
                <%= date_with_time_ago(exchange[:created_at]) %>
              </span>
              <br>
              <%= t("account.data_exchange.used") %>
              <%= exchange[:scopes].map { |scope| t("account.data_exchange.scope.#{scope}") }.to_sentence %>
            </dd>
          </div>
        <% end %>
      </dl>
    <% end %>
  </div>
</div>
