<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: account_path } %>
    <%= render "govuk_publishing_components/components/heading", {
      text: "Change your email or password",
      heading_level: 1,
      margin_bottom: 6,
    } %>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          <% if @user.email %>
            <%= @user.email %>
          <% end %>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="<%= change_email_path %>">
            Change<span class="govuk-visually-hidden"> email</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Password
        </dt>
        <dd class="govuk-summary-list__value">
          **********
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="<%= change_password_path %>">
            Change<span class="govuk-visually-hidden"> password</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>
