<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "account-navigation", page_is: "manage" %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.heading"),
      heading_level: 1,
      font_size: "xl",
      margin_bottom: 4,
    } %>

    <%= render "govuk_publishing_components/components/summary_list", {
      title: t("account.manage.details.heading"),
      heading_level: 2,
      items: core_account_details
    } %>

    <% user_details_items = user_details(@user_info) %>

    <% if user_details_items.nil? %>
      <p class="govuk-body">
        <%= t("account.manage.details.could_not_fetch_data") %>
      </p>
    <% elsif user_details_items.empty? %>
      <p class="govuk-body">
        <%= t("account.manage.details.no_data_found") %>
      </p>
    <% else %>
      <%= render "govuk_publishing_components/components/summary_list", {
        items: user_details_items
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/summary_list", {
      title: t("account.manage.privacy.heading"),
      heading_level: 2,
      items: [
        {
          field: t("account.manage.privacy.cookies_question") + t("account.manage.privacy.cookies_description"),
          value: t("general.yes"),
          edit: {
            href: "",
            text: t("general.change"),
          }
        },
        {
          field: t("account.manage.privacy.email_question") + t("account.manage.privacy.email_description"),
          value: t("general.yes"),
          edit: {
            href: "",
            text: t("general.change"),
          }
        }
      ]
    } %>

    <p class="govuk-body"><a href="<%= account_delete_path %>" class="govuk-link"><%= t("account.manage.delete.link") %></a></p>
    <p class="govuk-body"><%= t("account.manage.delete.description") %></p>
  </div>
</div>
