<% content_for :title, t("account.manage.page_title") %>
<% content_for :location, "manage" %>
<% content_for :account_navigation do %>
  <%= render "account-navigation", page_is: yield(:location) %>
<% end %>

<%= render "migration-banner" %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account.manage.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 7,
} %>

<% if flash[:notice] %>
  <% if flash_as_notice(flash[:notice]) %>
    <%= render "govuk_publishing_components/components/notice", { description_text: flash[:notice] } %>
  <% else %>
    <%= render "govuk_publishing_components/components/success_alert", { message: flash[:notice] } %>
  <% end %>
<% end%>

<div class="accounts-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    title: t("account.manage.details.heading"),
    heading_level: 2,
    items: core_account_details
  } %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account.manage.cookies.title"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 4,
} %>

<p class="govuk-body"><%= t("account.manage.cookies.description") %></p>

<% cookie_link_text = capture do %>
  <%= t("general.change") %> <span class="govuk-visually-hidden"><%= t("account.manage.cookies.link_extra") %></span>
<% end %>

<div class="accounts-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    wide_title: true,
    items: [
      {
        field: t("account.manage.cookies.label"),
        value: current_user.cookie_consent == true ? t("general.yes") : t("general.no"),
        edit: {
          href: edit_user_consent_cookie_path,
          link_text: cookie_link_text,
          link_text_no_enhance: true,
          data_attributes: {
            module: "gem-track-click",
            track_category: "account-manage",
            track_action: "manage-account",
            track_label: "personal-information-cookies",
          }
        }
      },
    ]
  } %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account.manage.feedback.title"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 4,
} %>

<p class="govuk-body"><%= t("account.manage.feedback.description") %></p>

<% feedback_link_text = capture do %>
  <%= t("general.change") %> <span class="govuk-visually-hidden"><%= t("account.manage.feedback.link_extra") %></span>
<% end %>

<div class="accounts-summary-list">
  <%= render "govuk_publishing_components/components/summary_list", {
    wide_title: true,
    items: [
      {
        field: t("account.manage.feedback.label"),
        value: current_user.feedback_consent == true ? t("general.yes") : t("general.no"),
        edit: {
          href: edit_user_consent_feedback_path,
          link_text: feedback_link_text,
          link_text_no_enhance: true,
          data_attributes: {
            module: "gem-track-click",
            track_category: "account-manage",
            track_action: "manage-account",
            track_label: "personal-information-feedback",
          }
        }
      },
    ]
  } %>
</div>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account.manage.delete.heading"),
  heading_level: 2,
  font_size: "m",
  margin_bottom: 4,
} %>

<p class="govuk-body"><%= t("account.manage.delete.description") %></p>

<p class="govuk-body">
  <a href="<%= account_delete_path %>" class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="delete-account">
    <%= t("account.manage.delete.link") %>
  </a>
</p>
