<% content_for :title, t("account.manage.heading") %>
<% content_for :location, "manage" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "account-navigation", page_is: yield(:location) %>
  </div>

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render "govuk_publishing_components/components/heading", {
      text: yield(:title),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 7,
    } %>

    <% if flash[:notice] %>
      <% if flash_as_notice(flash[:notice]) %>
        <%= render "govuk_publishing_components/components/notice", { description_text: flash[:notice] } %>
      <% else %>
        <%= render "govuk_publishing_components/components/success_alert", { message: flash[:notice] } %>
      <% end %>
    <% end%>

    <div class="accounts-summary-list">
      <%= render "govuk_publishing_components/components/summary_list", {
        title: t("account.manage.details.heading"),
        heading_level: 2,
        items: core_account_details
      } %>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.privacy.heading"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <div class="accounts-summary-list accounts-summary-list--wide">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <p class="govuk-body accounts-summary-list__key-heading"><%= t("account.manage.privacy.cookies_question") %></p>
            <p class="govuk-body accounts-summary-list__key-description"><%= t("account.manage.privacy.cookies_description") %></p>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_user.cookie_consent == true ? t("general.yes") : t("general.no") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="<%= edit_user_consent_cookie_path %>"
              class="govuk-link"
              title="<%= t("general.change") %> <%= t("account.manage.privacy.cookies_link_extra") %>"
              data-module = "gem-track-click"
              data-track-category = "account-manage"
              data-track-action = "manage-account"
              data-track-label = "personal-information-cookies">
              <%= t("general.change") %>
              <span class="govuk-visually-hidden"><%= t("account.manage.privacy.cookies_link_extra") %></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <p class="govuk-body accounts-summary-list__key-heading"><%= t("account.manage.privacy.email_question") %></p>
            <p class="govuk-body accounts-summary-list__key-description"><%= t("account.manage.privacy.email_description") %></p>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= current_user.feedback_consent == true ? t("general.yes") : t("general.no") %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="<%= edit_user_consent_feedback_path %>"
              class="govuk-link"
              title="<%= t("general.change") %> <%= t("account.manage.privacy.email_link_extra") %>"
              data-module = "gem-track-click"
              data-track-category = "account-manage"
              data-track-action = "manage-account"
              data-track-label = "personal-information-feedback">
              <%= t("general.change") %>
              <span class="govuk-visually-hidden"><%= t("account.manage.privacy.email_link_extra") %></span>
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.delete.heading"),
      heading_level: 2,
      font_size: "m",
      margin_bottom: 4,
    } %>

    <p class="govuk-body"><%= t("account.manage.delete.description") %></p>

    <p class="govuk-body">
      <a href="<%= account_delete_path %>" class="govuk-link" data-module="gem-track-click" data-track-category="account-manage" data-track-action="manage-account" data-track-label="delete-account">
        <%= t("account.manage.delete.link") %>
      </a>
    </p>
  </div>
</div>
