<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("devise.passwords.edit.heading"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= hidden_field_tag "user[reset_password_token]", params[:reset_password_token] %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.passwords.edit.password.label"),
        },
        hint: t("devise.passwords.edit.password.hint"),
        name: "user[password]",
        type: "password",
        id: "password",
        error_message: devise_error_items(:password),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.passwords.edit.password_confirm.label"),
        },
        name: "user[password_confirmation]",
        type: "password",
        id: "password_confirmation",
        error_message: devise_error_items(:password_confirmation),
        autocomplete: "new-password",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.passwords.edit.submit.label"),
        margin_bottom: 3,
      } %>
    <% end %>
  </div>
</div>
