<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(method: :post) do %>
      <% if params[:previous_url] %>
        <%= hidden_field_tag :previous_url, params[:previous_url] %>
      <% end %>
      <% if params[:jwt] %>
        <%= hidden_field_tag :jwt, params[:jwt] %>
      <% end %>

      <% if flash[:alert] %>
        <%= render "govuk_publishing_components/components/error_alert", { message: flash[:alert] } %>
      <% elsif notice_to_show(flash[:notice]) %>
        <%= render "govuk_publishing_components/components/success_alert", { message: flash[:notice] } %>
      <% end %>

      <%= render "govuk_publishing_components/components/input", {
        heading_size: "l",
        heading_level: 1,
        label: {
          text: t("welcome.show.fields.email.label"),
        },
        name: "user[email]",
        type: "email",
        id: "email",
        value: @email,
        error_message: @email_error_message,
        autocomplete: "email",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("welcome.show.button.label"),
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-create",
          "track-action": "create",
          "track-label": "email"
        }
      } %>
    <% end %>
  </div>
</div>
