<% content_for :title, t("devise.registrations.your_information.fields.cookie_consent.heading") %>
<% content_for :location, "manage" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "account-navigation", page_is: yield(:location) %>
  </div>

  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
    <%= form_with(
      url: edit_user_consent_cookie_url,
      method: :post,
      data: {
        module: "track-form",
        "track-category": "account-manage"
      }
    ) do %>

      <%= render "govuk_publishing_components/components/radio", {
        name: "cookie_consent",
        heading: yield(:title),
        heading_size: "l",
        is_page_heading: true,
        items: [
          {
            value: "yes",
            text: t("devise.registrations.your_information.fields.cookie_consent.yes"),
            checked: current_user.cookie_consent,
            data_attributes: {
              "track-action": "personal-information-cookies"
            }
          },
          {
            value: "no",
            text: t("devise.registrations.your_information.fields.cookie_consent.no"),
            checked: !current_user.cookie_consent,
            data_attributes: {
              "track-action": "personal-information-cookies"
            }
          }
        ]
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.registrations.your_information.fields.submit.update_label"),
      } %>
    <% end %>
  </div>
</div>
