<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: manage_path } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("change_password.show.title"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= form_tag do %>
      <p class="govuk-body">
        <%= t("change_password.show.caption") %>
      </p>

      <%= render "govuk_publishing_components/components/button", {
        text: t("change_password.show.submit"),
      } %>
    <% end %>
  </div>
</div>
