<% content_for :title, t("devise.passwords.edit.page_title") %>

<% unless @reset_password_token_valid %>
  <%= render "govuk_publishing_components/components/error_alert", {
    message: sanitize("#{t("errors.messages.expired")} <a class=\"govuk-link\" href=\"#{reset_password_path}\">#{t("errors.messages.expired_link_text")}</a>.")
  } %>
<% end %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("devise.passwords.edit.heading"),
  heading_level: 1,
  margin_bottom: 3,
} %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { module: "gem-track-click" }) do %>
  <%= render "_shared/error_messages", resource: resource %>
  <%= hidden_field_tag "user[reset_password_token]", params[:reset_password_token] %>
  <%= email_field_tag 'email', @reset_email, class: "govuk-!-display-none", autocomplete: "off", "aria-hidden": true if @reset_email %>
  <%= render "govuk_publishing_components/components/show_password", {
    label: {
      text: t("devise.passwords.edit.password.label"),
    },
    hint: t("devise.passwords.edit.password.hint"),
    name: "user[password]",
    id: "password",
    error_message: devise_error_items(:password),
    autocomplete: @reset_email ? "new-password" : "off",
    data: {
      button_track_action: "passwordShowHide",
      button_track_category: "pageElementInteraction",
      button_track_label: "resetAccountPassword"
    }
  } %>

  <%= render "_shared/password_tip" %>

  <%= render "govuk_publishing_components/components/button", {
    text: t("devise.passwords.edit.submit.label"),
    margin_bottom: 3,
  } %>
<% end %>
