<% content_for :title, t("reset_sent.page_title") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("reset_sent.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 3,
} %>

<p class="govuk-body">
  <%= t("reset_sent.content_with_email", email: @email) if @email.present? %>
  <%= t("reset_sent.content_without_email") if !@email.present? %>
</p>

<%= render "govuk_publishing_components/components/heading", {
  text: t("reset_sent.subheading"),
  heading_level: 2,
  margin_bottom: 3,
} %>

<%= sanitize(t("reset_sent.try_again", link: reset_password_path)) %>
