<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: manage_path } %>
    <form>
      <%= render "govuk_publishing_components/components/fieldset", {
        legend_text: t("change_email.title"),
        heading_level: 1,
        heading_size: "l"
      } do %>
        <p class="govuk-body"><%= t("change_email.current") %></p>
        <% if @user.email %>
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <div class="application-notice info-notice">
            <p>
              <%= @user.email %>
            </p>
            </div>
          <% end %>
        <% end %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("change_email.new_email"),
          },
          name: "email",
          type: "email",
          error_message: t("change_email.new_email_invalid"),
        } %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("change_email.confirm_email"),
          },
          name: "email_confirm",
          type: "email",
          error_message: t("change_email.confirm_email_no_match"),
        } %>
      <% end %>
      <%= render "govuk_publishing_components/components/button", {
        text: t("change_email.submit_button"),
      } %>
    </form>
  </div>
</div>
