<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: manage_path } %>

    <%= render "error_summary" %>

    <%= form_tag do %>
      <%= render "govuk_publishing_components/components/fieldset", {
        legend_text: t("change_email.title"),
        heading_level: 1,
        heading_size: "l"
      } do %>
        <p class="govuk-body"><%= t("change_email.current") %></p>
        <% if @user.email %>
          <%= render "govuk_publishing_components/components/govspeak", {
          } do %>
            <div class="application-notice info-notice">
            <p>
              <%= @user.email %>
            </p>
            </div>
          <% end %>
        <% end %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("change_email.new_email"),
          },
          name: "email",
          type: "email",
          value: params[:email] || nil,
          error_message: error_items("email"),
        } %>

        <%= render "govuk_publishing_components/components/input", {
          label: {
            text: t("change_email.confirm_email"),
          },
          name: "email_confirm",
          type: "email",
          value: params[:email_confirm ] || nil,
          error_message: error_items("email_confirm"),
        } %>
      <% end %>
      <%= render "govuk_publishing_components/components/button", {
        text: t("change_email.submit_button"),
      } %>
    <% end %>
  </div>
</div>
