<% content_for :title, t("devise.sessions.new.heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: yield(:title),
      heading_level: 1,
      font_size: "xl",
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= form_with url: user_session_path, html: { "data-module" => "explicit-cross-domain-links" } do %>
      <% if resource %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <% end %>

      <%= hidden_field_tag :"user[email]", @login_state.user.email %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.sessions.new.fields.password.label"),
        },
        name: "user[password]",
        type: "password",
        id: "password",
        error_message: sanitize(@password_error_message),
        autocomplete: "current-password",
      } %>

      <% if devise_mapping.rememberable? %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "user[remember_me]",
          items: [
            {
              label: t("devise.sessions.new.fields.remember.label"),
              value: "1",
            },
          ],
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.sessions.new.fields.submit.label"),
        margin_bottom: 3,
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-signin",
          "track-action": "signin",
          "track-label": "password"
        }
      } %>
    <% end %>

    <%= sanitize(t("devise.sessions.new.reset_password", reset_password: reset_password_path)) %>
  </div>
</div>
