<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("devise.sessions.new.title"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= form_with(url: user_session_path) do %>
      <% if resource %>
        <%= render "devise/shared/error_messages", resource: resource %>
      <% end %>

      <% if params[:previous_url] %>
        <%= hidden_field_tag :previous_url, params[:previous_url] %>
      <% end %>
      <% if params[:jwt] %>
        <%= hidden_field_tag :jwt, params[:jwt] %>
      <% end %>

      <%= hidden_field_tag :"user[email]", params.dig(:user, :email) %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("devise.sessions.new.fields.password.label"),
        },
        name: "user[password]",
        type: "password",
        id: "password",
        error_message: @password_error_message,
      } %>

      <% if devise_mapping.rememberable? %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "user[remember_me]",
          items: [
            {
              label: t("devise.sessions.new.fields.remember.label"),
              value: "1",
            },
          ],
        } %>
      <% end %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.sessions.new.fields.submit.label"),
        margin_bottom: 3,
      } %>
    <% end %>

    <%= sanitize(t("devise.sessions.new.reset_password", reset_password: reset_password_path)) %>
  </div>
</div>
