<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("mfa.phone.code.sign_in_heading"),
      heading_level: 1,
      font_size: "xl",
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <% t("mfa.phone.code.description").each do |msg| %>
      <p class="govuk-body"><%= msg %></p>
    <% end %>

    <%= form_with url: user_session_phone_verify_path, method: :post, html: { autocomplete: "off", "data-module" => "explicit-cross-domain-links" } do %>
      <%= render "govuk_publishing_components/components/input", {
        label: { text: t("mfa.phone.code.fields.phone_code.label") },
        name: "phone_code",
        maxlength: 5,
        type: "number",
        error_message: sanitize(@phone_code_error_message),
        width: 5,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("mfa.phone.code.fields.submit.label"),
        margin_bottom: true,
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-signin",
          "track-action": "signin",
          "track-label": "security-code"
        }
      } %>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("mfa.phone.code.not_received.sign_in_heading"),
      heading_level: 2,
      margin_bottom: 4,
      font_size: "m",
    } %>

    <p class="govuk-body">
      <%= sanitize(t("mfa.phone.code.not_received.sign_in_message", link: user_session_phone_resend_path)) %>
    </p>
  </div>
</div>
