<div class="summary-list">
  <dt class=" govuk-!-font-weight-regular govuk-!-display-block">
    <p class="govuk-body">
      <% if mfa_token.valid_until >= Time.zone.now %>
        <%= t("account.security.security_codes.code_description.present") %>
      <% else %>
        <%= t("account.security.security_codes.code_description.past") %>
      <% end %>
    </p>
  </dt>
  <dd class="govuk-!-margin-left-0 govuk-!-display-block">
    <span class="govuk-!-font-weight-bold">
      <%= humanized_date(mfa_token.created_at) %>
      <%= t("account.security.security_codes.code_description.conjunction") %>
      <%= humanized_date(mfa_token.valid_until) %>
    </span>
  </dd>
</div>
