<% page_navigation = paginated_navigation(@mfa_tokens, ->(page) { account_security_paginated_mfa_tokens_path(page) }) %>

<% content_for :title, t("account.security.security_codes.title") %>
<% content_for :location, "security" %>
<% content_for :account_navigation do %>
  <%= render "account-navigation", page_is: yield(:location) %>
<% end %>

<%= render "user-reminders" %>

<%= render "govuk_publishing_components/components/title", {
  title: yield(:title),
  context: t("account.security.page_numbering_header", current_page: page_navigation[:current_page], total_pages: page_navigation[:total_pages]),
  margin_bottom: 8,
  margin_top: 0,
} %>

<% if page_navigation[:out_of_range] %>
  <p class="govuk-body">
    <%= t("account.security.page_out_of_range") %>
  <p>
<% else %>
  <div class="accounts-summary-list accounts-summary-list--paginated">
    <dl class="govuk-summary-list">
      <% @mfa_tokens.each do |mfa_token| %>
        <%= render "mfa_token", mfa_token: mfa_token %>
      <% end %>
    </dl>
  </div>

  <%= render "govuk_publishing_components/components/previous_and_next_navigation", page_navigation %>
<% end %>
