<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.page_heading"),
      heading_level: 1,
      margin_bottom: 6,
    } %>

    <% if current_user.email %>
      <p class="govuk-body">
        <%= current_user.email %>
      </p>
    <% end %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.manage.subheading"),
      heading_level: 2,
      margin_bottom: 3,
      font_size: 19,
    } %>

    <ul class="govuk-list govuk-!-margin-bottom-7">
      <li>
        <a href="<%= edit_user_registration_path %>" class="govuk-link">
          <%= t("account.manage.manage.amend_details_link") %>
        </a>
      </li>
      <li>
        <a href="<%= profile_path %>" class="govuk-link">
          <%= t("account.manage.manage.profile_link") %>
        </a>
      </li>
      <li>
        <a href="<%= destroy_user_session_path %>" class="govuk-link">
          <%= t("account.manage.manage.logout_link") %>
        </a>
      </li>
    </ul>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.manage.security.subheading"),
      heading_level: 2,
      margin_bottom: 3,
      font_size: 19,
    } %>

    <ul class="govuk-list govuk-!-margin-bottom-7">
      <li>
        <a href="<%= your_data_path %>" class="govuk-link">
          <%= t("account.manage.manage.data_exchange_link") %>
        </a>
      </li>
      <li>
        <a href="<%= activity_path %>" class="govuk-link">
          <%= t("account.manage.security.activity_link") %>
        </a>
      </li>
    </ul>
  </div>
</div>
