<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("register.show.title"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= render "error_summary" %>

    <%= form_tag do %>
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("register.show.fields.email.label"),
        },
        name: "email",
        type: "email",
        id: "email",
        value: sanitize(@email),
        error_message: error_items("email"),
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("register.show.fields.password.label"),
        },
        hint: t("register.show.fields.password.hint"),
        name: "password",
        type: "password",
        id: "password",
        error_message: error_items("password"),
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("register.show.fields.password_confirm.label"),
        },
        name: "password_confirm",
        type: "password",
        id: "password_confirm",
        error_message: error_items("password_confirm"),
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("register.show.fields.submit.label"),
        margin_bottom: 3,
      } %>
    <% end %>

    <p class="govuk-body">
      <%= sanitize(t("register.show.sign_in")) %>
    </p>
  </div>
</div>
