<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: "Register",
      heading_level: 1
    } %>

    <p class="govuk-body">
      Complete your details to register.
    </p>

    <%= form_tag do %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Email address"
        },
        name: "email",
        type: "email",
      } %>

      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: "Password"
        },
        name: "password",
        type: "password",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: "Register"
      } %>

    <% end %>

  </div>
</div>
