<% page_is ||= nil %>

<nav aria-label="Account management">
  <ul class="accounts-menu">
    <li class="accounts-menu__item <%= "accounts-menu__item--current" if page_is == "your-account" %>">
      <%= link_to(
        t("navigation.menu_bar.account.link_text"),
        user_root_path,
        class: 'accounts-menu__link govuk-link govuk-link--no-visited-state',
        'aria-current': page_is == "your-account" ? "page" : nil,
      ) %>
      <span class="accounts-menu__link-description"><%= t("navigation.menu_bar.account.description") %></span>
    </li>
    <li class="accounts-menu__item <%= "accounts-menu__item--current" if page_is == "manage" %>">
      <%= link_to(
        t("navigation.menu_bar.manage.link_text"),
        account_manage_path,
        class: 'accounts-menu__link govuk-link govuk-link--no-visited-state',
        'aria-current': page_is == "manage" ? "page" : nil,
      ) %>
      <span class="accounts-menu__link-description"><%= t("navigation.menu_bar.manage.description") %></span>
    </li>
    <li class="accounts-menu__item <%= "accounts-menu__item--current" if page_is == "security" %>">
      <%= link_to(
        t("navigation.menu_bar.security.link_text"),
        account_security_path,
        class: 'accounts-menu__link govuk-link govuk-link--no-visited-state',
        'aria-current': page_is == "security" ? "page" : nil,
      ) %>
      <span class="accounts-menu__link-description"><%= t("navigation.menu_bar.security.description") %></span>
    </li>
  </ul>
</nav>
