<% if show_confirmation_reminder? %>
  <%= render "govuk_publishing_components/components/notice" do %>
    <p class="govuk-body">
      <%= sanitize(t("confirm.intro.#{confirmation_banner_prompt_type}")) %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="<%= new_user_confirmation_path %>" class="govuk-link"><%= t("confirm.link_text") %></a>
    </p>
  <% end %>
<% end %>

<% if current_user.banned_password_match %>
  <%= render "govuk_publishing_components/components/notice" do %>
    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t("insecure_password.notice.message") %>
    </p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="<%= edit_user_password_path %>" class="govuk-link"><%= t("insecure_password.notice.link") %></a>
    </p>
  <% end %>
<% end %>
