<% contact_details = capture do %>
  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t("feedback.show.fields.name.label"),
    },
    name: "name",
    type: "name",
    id: "name",
    error_message: error_items("name"),
    value: @form_responses[:name],
  } %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: t("feedback.show.fields.email.label"),
    },
    name: "email",
    type: "email",
    id: "email",
    error_message: error_items("email"),
    value: @form_responses[:email],
  } %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("feedback.show.heading"),
      heading_level: 1,
      margin_bottom: 4,
      font_size: "xl"
    } %>

    <p class="govuk-body"><%= t("feedback.show.caption") %></p>

    <%= render "govuk_publishing_components/components/inset_text", {
      text: t("feedback.show.inset_text")
    } %>

    <%= form_tag do %>
      <%= render "govuk_publishing_components/components/textarea", {
        label: {
          text: t("feedback.show.fields.comments.label"),
          heading_size: "s",
        },
        name: "comments",
        id: "comments",
        error_message: error_items("comments"),
        value: @form_responses[:comments],
      } %>

      <%= render "govuk_publishing_components/components/radio", {
        heading: t("feedback.show.fields.user_requires_response.label"),
        heading_size: "s",
        items: [
          {
            value: "yes",
            text: t("feedback.show.fields.user_requires_response.options.option_yes.label"),
            checked: @form_responses[:user_requires_response] == "yes",
            conditional: contact_details,
          },
          {
            value: "no",
            text: t("feedback.show.fields.user_requires_response.options.option_no.label"),
            checked: @form_responses[:user_requires_response] == "no",
          },
        ],
        name: "user_requires_response",
        id: "user_requires_response",
        error_message: error_items("user_requires_response"),
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("feedback.show.fields.submit.label"),
        margin_bottom: 3,
      } %>
    <% end %>
  </div>
</div>
