<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title><%= content_for?(:title) ? "#{yield(:title)} - GOV.UK Account" : "GOV.UK Account" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= yield :meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body app-body-class">
  <%= javascript_tag nonce: true do -%>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  <% end -%>

  <% unless @skip_cookie_banner %>
    <%= render "govuk_publishing_components/components/cookie_banner", {
      title: t("cookie_banner.title"),
      text: t("cookie_banner.description"),
      confirmation_message: t("cookie_banner.confirmation_message"),
      cookie_preferences_href: t("cookie_banner.cookie_settings_href"),
      services_cookies: {
        yes: {
          text: "Yes",
          data_attributes: {
            "track-category": "cookieBanner",
          },
        },
        no: {
          text: "No",
          data_attributes: {
            "track-category": "cookieBanner",
          },
        },
        cookie_preferences: {
          text: t("cookie_banner.cookie_preferences_text"),
          href: t("cookie_banner.cookie_settings_href"),
        },
      },
    } %>
  <% end %>

  <%= render "govuk_publishing_components/components/skip_link" %>

  <%= render "govuk_publishing_components/components/layout_header", {
    product_name: "Account",
    navigation_items: navigation_items,
    navigation_aria_label: "Account access",
  } %>

  <div class="govuk-width-container app-width-container">
    <% message = capture do %>
      <%= t("feedback.banners.phase_intro") %>
      <a class="govuk-link" href='<%= feedback_form_path %>'><%= t("feedback.banners.phase_link") %></a>
      <%= t("feedback.banners.phase_outro") %>
    <% end %>
    <%= render "govuk_publishing_components/components/phase_banner", {
      phase: "alpha",
      message: message
    } %>
    <div class="govuk-grid-row govuk-main-wrapper">
      <% if content_for?(:account_navigation) %>
        <div class="govuk-grid-column-one-third">
          <%= yield :account_navigation %>
        </div>
      <% end %>
      <div class="govuk-grid-column-two-thirds">
        <%= yield :before_main %>
        <main class="app-main-class" id="main-content" role="main">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>

  <% if feedback_enabled_page %>
    <div class="govuk-width-container">
      <div class="feedback-footer">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("feedback.banners.title"),
          heading_level: 2,
          font_size: "m",
          margin_bottom: 4,
        } %>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <%= t("feedback.banners.footer_intro") %>
          <a href="<%= feedback_form_path %>" class="govuk-link"><%= t("feedback.banners.footer_link") %></a>
          <%= t("feedback.banners.footer_outro") %>
        </p>
      </div>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: footer_navigation,
    meta: footer_meta,
  } %>

  <%= javascript_include_tag "application" %>
</body>
</html>
