<!DOCTYPE html>
<html lang="en" class="govuk-template">

<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>GOV.UK Accounts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="blue">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body app-body-class">
  <%= javascript_tag nonce: true do -%>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  <% end -%>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: "public",
    product_name: "Account",
    navigation_items: navigation_items,
  } %>

  <div class="govuk-width-container app-width-container">
    <% message = capture do %>
      <%= t("feedback.banners.phase_intro") %>
      <a class="govuk-link" href='<%= feedback_form_path %>'><%= t("feedback.banners.phase_link") %></a>
      <%= t("feedback.banners.phase_outro") %>
    <% end %>
    <%= render "govuk_publishing_components/components/phase_banner", {
      phase: "alpha",
      message: message
    } %>

    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

  <% if feedback_enabled_page %>
    <div class="feedback-footer">
      <div class="govuk-width-container">
        <%= render "govuk_publishing_components/components/heading", {
          text: t("feedback.banners.title"),
          heading_level: 2,
          font_size: "m",
          margin_bottom: 4,
        } %>

        <p class="govuk-body govuk-!-margin-bottom-0">
          <%= t("feedback.banners.footer_intro") %>
          <a href="<%= feedback_form_path %>" class="govuk-link"><%= t("feedback.banners.footer_link") %></a>
          <%= t("feedback.banners.footer_outro") %>
        </p>
      </div>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/layout_footer", {
    navigation: [
      {
        title: "Coronavirus (COVID-19)",
        columns: 2,
        items: [
          href: "https://www.gov.uk/coronavirus",
          text: "Coronavirus (COVID-19): guidance and support"
        ]
      },
      {
        title: "The UK has left the EU",
        items: [
          href: "https://www.gov.uk/transition",
          text: "Check the new rules for January 2021"
        ]
      },
      {
        title: "Services and information",
        columns: 2,
        items: [
          {
            href: "https://www.gov.uk/browse/benefits",
            text: "Benefits"
          },
          {
            href: "https://www.gov.uk/browse/births-deaths-marriages",
            text: "Births, deaths, marriages and care"
          },
          {
            href: "https://www.gov.uk/browse/business",
            text: "Business and self-employed"
          },
          {
            href: "https://www.gov.uk/browse/childcare-parenting",
            text: "Childcare and parenting"
          },
          {
            href: "https://www.gov.uk/browse/citizenship",
            text: "Citizenship and living in the UK"
          },
          {
            href: "https://www.gov.uk/browse/justice",
            text: "Crime, justice and the law"
          },
          {
            href: "https://www.gov.uk/browse/disabilities",
            text: "Disabled people"
          },
          {
            href: "https://www.gov.uk/browse/driving",
            text: "Driving and transport"
          },
          {
            href: "https://www.gov.uk/browse/education",
            text: "Education and learning"
          },
          {
            href: "https://www.gov.uk/browse/employing-people",
            text: "Employing people"
          },
          {
            href: "https://www.gov.uk/browse/environment-countryside",
            text: "Environment and countryside"
          },
          {
            href: "https://www.gov.uk/browse/housing-local-services",
            text: "Housing and local services"
          },
          {
            href: "https://www.gov.uk/browse/tax",
            text: "Money and tax"
          },
          {
            href: "https://www.gov.uk/browse/abroad",
            text: "Passports, travel and living abroad"
          },
          {
            href: "https://www.gov.uk/browse/visas-immigration",
            text: "Visas and immigration"
          },
          {
            href: "https://www.gov.uk/browse/working",
            text: "Working, jobs and pensions"
          }
        ]
      },
      {
        title: "Departments and policy",
        items: [
          {
            href: "https://www.gov.uk/government/how-government-works",
            text: "How government works"
          },
          {
            href: "https://www.gov.uk/government/organisations",
            text: "Departments"
          },
          {
            href: "https://www.gov.uk/world",
            text: "Worldwide"
          },
          {
            href: "https://www.gov.uk/government/policies",
            text: "Policies"
          },
          {
            href: "https://www.gov.uk/news-and-communications",
            text: "News and communications"
          }
        ]
      }
    ],
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help",
          text: "Help"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/contact",
          text: "Contact"
        },
        {
          href: "https://www.gov.uk/help/terms-conditions",
          text: "Terms and conditions"
        },
        {
          href: "https://www.gov.uk/cymraeg",
          text: "Rhestr o Wasanaethau Cymraeg"
        },
        {
          href: "https://www.gov.uk/government/organisations/government-digital-service",
          text: "Government Digital Service"
        }
      ]
    }
  } %>

  <%= javascript_include_tag "application" %>
</body>
</html>
